:root {
    --cream: #f5ede1;
    --coal: #292521;
    --color-accent: #7694e9;
    --font-article: Georgia, "Times New Roman", Times, serif;
    --border-radius: 1.5rem;
    --padding: 1rem;
    --box-shadow-hover: 0 0 0 transparent, inset 5px 5px 7px #636363;
}
html {
    scroll-behavior: smooth;
}
* {
    color: var(--coal);
    padding: 0;
    margin: 0;
    font-family:
        "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cream);
}
.body__wrapper {
    width: min(1300px, 90vw);
}
.page {
    height: clamp(750px, 65vh, 100vh);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.page__about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page--float {
    background-image: url(/src/img/background.png);
    background-position: center;
    grid-template-columns: 1fr 1fr;
    border-radius: var(--border-radius);
    box-shadow: #949597 10px 5px 30px;
    margin: 3rem 0;
    padding: 4rem 0;
}
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    margin: 3rem 0;
    padding: 4rem 0;
}
.block-background {
    min-height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--coal) solid 1px;
    padding: var(--padding);
    border-radius: var(--border-radius);
    font-size: 1.125rem;
    background-color: #dae3ff;
}
.page-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-text__name {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: clamp(2.125rem, 6vw + 1rem, 6rem);
    letter-spacing: -0.125rem;
    line-height: 90%;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.page-text__nav ul {
    margin-top: 3rem;
    display: flex;
    font-size: 1.25rem;
    gap: 2rem;
}
.page-text__info {
    align-self: flex-end;
    width: 170px;
    margin: 1rem 0;
}
.page__text-about {
    width: 80%;
}
.toggle {
    display: none;
    margin-top: 2rem;
    font-size: 1.5rem;
}
.nav-link {
    color: var(--coal);
    text-decoration: none;
}
.nav-item {
    position: relative;
    display: inline;
}
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.6px;
    background-color: var(--color-accent);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}
.nav-link:hover {
    color: var(--color-accent);
    transition: 0.3s;
}
.nav-link:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
.info {
    padding: var(--padding);
    border-radius: 1rem;
    border: var(--coal) solid 1px;
}
.accent {
    color: var(--color-accent);
}
.accent--reverse {
    color: var(--cream);
}
/* Может быть реализована кнопка */
/* .button {
    width: 100%;
    background: #00537d;
    background: linear-gradient(
        90deg,
        rgba(0, 83, 125, 1) 0%,
        rgba(47, 203, 235, 1) 100%
    );
    color: white;
    padding: 0.875rem 0;
    border: none;
    border-radius: 1rem;
    font-weight: 600;
    transition: 0.2s;
}
.button:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
    box-shadow: 0 12px 24px rgba(58, 195, 237, 0.3);
} */

/* .page-block {
    box-sizing: border-box;
    padding: var(--padding);
} */
.big-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: var(--border-radius); */
}
.about-article {
    width: 80%;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.article {
    font-family: var(--font-article);
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.columns__article {
    margin-bottom: 2rem;
}
.stack {
    padding: 0;
    width: 60%;
    font-size: 1.125rem;
}
.stack__item {
    background-color: #dae3ff;
    position: relative;
    list-style-type: none;
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    border: var(--coal) solid 1px;
    transition: box-shadow 0.3s;
}
.stack__item:hover {
    box-shadow: var(--box-shadow-hover);
}
.stack__item::before {
    content: "";
    left: 1rem;
    top: 1.5rem;
    position: absolute;
    height: 8px;
    width: 8px;
    font-size: 12px;
    background-color: var(--color-accent);
    border-radius: 50%;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    min-height: 15vh;
    border: var(--coal) solid 1px;
    background-color: var(--cream);
    border-radius: var(--border-radius);
    margin: 2rem 0;
}
.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__article {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}
.footer__text {
    margin: 0;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}
.contact-list {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
}
.contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
    border-radius: 50%;
    border: var(--coal) solid 1px;
    transition: box-shadow 0.3s;
}
.contact-item:hover {
    box-shadow: var(--box-shadow-hover);
}
.info-name {
    text-align: end;
    margin: 0;
}
.icon {
    width: 30px;
    object-fit: contain;
}
@media (max-width: 1050px) {
    .page {
        height: auto;
    }
    .page-text__nav ul {
        margin: 2rem 0 1rem 0;
    }
    .page-text__name {
        margin: 2rem 0 2rem 0;
    }
    .article {
        font-size: 2.5rem;
        width: 80%;
    }
    .stack {
        width: 80%;
    }
}
@media (max-width: 650px) {
    .page {
        grid-template-columns: 1fr;
    }
    .page-text__nav {
        display: none;
    }
    .block-background {
        width: 75%;
    }
    .toggle {
        display: block;
    }
    .page-text__info {
        width: auto;
    }
    .page-text__name {
        margin: 1rem 0 2rem 0;
    }
    .article {
        font-size: 2.5rem;
    }
    .block-background {
        margin-top: 2rem;
    }
    .footer {
        margin: 1rem 0;
        flex-direction: column;
    }
    .footer__info {
        width: 100%;
        margin-bottom: 2rem;
    }
    .contact-list {
        margin-bottom: 1.5rem;
    }
}
