:root {
    --cream: #f5ede1;
    --coal: #292521;
    --color-accent: #7694e9;
    --font-article: Georgia, "Times New Roman", Times, serif;
    --border: var(--coal) solid 1px;
    --box-shadow-hover: 0 0 0 transparent, inset 5px 5px 7px #636363;
}
html {
    scroll-behavior: smooth;
}
* {
    color: var(--coal);
    padding: 0;
    margin: 0;
    font-family:
        "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cream);
}
.body__wrapper {
    width: min(1300px, 90vw);
}
.home {
    height: clamp(750px, 65vh, 100vh);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.home__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home__toggle {
    display: none;
    margin-top: 2rem;
    font-size: 1.5rem;
}
.nav ul {
    margin-top: 3rem;
    display: flex;
    font-size: 1.25rem;
    gap: 2rem;
}
.nav__item {
    position: relative;
    display: inline;
}
.nav__link {
    text-decoration: none;
}
.nav__link:active {
    color: var(--color-accent);
}
.nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.6px;
    background-color: var(--color-accent);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.home__info {
    align-self: flex-end;
    width: 170px;
    margin: 1rem 0;
}
.info {
    padding: 1rem;
    border-radius: 1rem;
    border: var(--border);
}
.accent {
    color: var(--color-accent);
}
.accent--reverse {
    color: var(--cream);
}
.home__name {
    margin-bottom: 5rem;
    font-weight: 700;
    font-size: clamp(2.125rem, 6vw + 1rem, 6rem);
    letter-spacing: -0.125rem;
    line-height: 90%;
    font-family: var(--font-article);
}
/* Если появится необходимость вставить не .png картинку
.home__bside {
    box-sizing: border-box;
    padding: var(--padding);
} */
.big-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #b5c8ff;
    background-image: url(../img/background.png);
    background-position: center;
    border-radius: 1.5rem;
    box-shadow: #949597 10px 5px 30px;
    border: var(--border);
    padding: 4rem 0;
}
.article {
    font-family: var(--font-article);
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}
.page__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stack {
    padding: 0;
    width: 80%;
    font-size: 1.125rem;
}
.stack :first-child {
    margin-top: 1.5rem;
}
.stack__item {
    background-color: #dae3ff;
    position: relative;
    list-style-type: none;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    border: var(--border);
    transition: box-shadow 0.3s;
}

.stack__item::before {
    content: "";
    left: 1rem;
    top: 1.5rem;
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: var(--color-accent);
    border-radius: 50%;
}
.page__info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.block {
    min-height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--border);
    padding: 1rem;
    border-radius: 1.5rem;
    font-size: 1.125rem;
    background-color: #dae3ff;
}
.block__article {
    width: 80%;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.block__text {
    width: 80%;
}
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
    padding: 4rem 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    min-height: 15vh;
    border: var(--border);
    background-color: var(--cream);
    border-radius: 1.5rem;
    margin: 2rem 0;
}
.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__text {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}
.contacts-list {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
}
.contacts-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    border: var(--border);
    transition: box-shadow 0.3s;
}
.contacts-list__item:active {
    transform: translateY(1px);
    box-shadow: 0 6px 14px rgba(117, 148, 232, 0.3);
}
.contacts-list__icon {
    width: 30px;
    object-fit: contain;
}
.info-name {
    text-align: end;
    margin: 0;
}
@media (hover: hover) {
    .nav__link:hover {
        color: var(--color-accent);
        transition: 0.3s;
    }
    .nav__link:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }
    .stack__item:hover {
        box-shadow: var(--box-shadow-hover);
    }
    .contacts-list__item:hover {
        box-shadow: var(--box-shadow-hover);
    }
}
@media (max-width: 1050px) {
    .home {
        height: auto;
    }
    .nav ul {
        margin: 2rem 0 1rem 0;
    }
    .home__name {
        margin: 2rem 0 3rem 0;
    }
    .block__article {
        font-size: 2.5rem;
    }
}
@media (max-width: 650px) {
    .page,
    .home {
        grid-template-columns: 1fr;
    }
    .nav {
        display: none;
    }
    .home__toggle {
        display: block;
    }
    .info {
        width: auto;
    }
    .home__name {
        margin: 1rem 0 2rem 0;
    }
    .block {
        width: 75%;
        margin-top: 2rem;
    }
    .block__article {
        font-size: 2rem;
    }
    .footer {
        margin: 1rem 0;
        flex-direction: column;
    }
    .footer__info {
        width: 100%;
        margin-bottom: 2rem;
    }
    .contacts-list {
        margin-bottom: 1rem;
    }
}
